@yc-commerce:registry=https://gitlab.com/api/v4/groups/81615467/-/packages/npm/
//gitlab.com/api/v4/groups/81615467/-/packages/npm/:_authToken="${YC_COMMERCE_GITLAB_TOKEN}"
# NB: Each project ID must be listed separately for `yarn` v1 to correctly authenticate with Gitlab,
# even though the token allows access to all projects in the group. `npm` does not have the same issue
# The below corresponds to `@yc-commerce/payments-frontend-sdk`
//gitlab.com/api/v4/projects/54346663/packages/npm/:_authToken="${YC_COMMERCE_GITLAB_TOKEN}"
//registry.npmjs.org/:_authToken="${NPM_TOKEN}"